.sidebar{
    width:20%;
    height:100vh;
    background-color: #0C134F;
}
.logo1{
    margin:20px;
    width:250px;
    height:40px;
}
.profile-pic{
    width:50px;
    height:50px;
    background-color: aliceblue;
    margin-left:40%;
    border-radius: 50%;
    margin-top:75px;
}
.welcome{
    margin-top:30px;
    color:white;
    font-size:20px;
    text-align: center;
}
.app{
    width:80%;
    height:100vh;
    background-color: #1D267D;
    padding:15px;
}
.main{
    width:100%;
    display:flex;
}
.toggle{
    display:block;
    margin:auto;
    margin-top:300px;
    color:#D4ADFC;
    height:40px;
}
#addNew {
    width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C134F;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin:auto;
    margin-top: 30px;
    color: aliceblue;
    font-size: 15px;
}
.plus{
    height:30px;
    color: #D4ADFC;
}
.head-task{
   text-align: center;
   color: aliceblue;
   padding-top:80px;
}
